body{
    overflow-x:hidden;
    overscroll-behavior: block;
}
header{
    width: 100%;
}

.principal{
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;
}
.principal .myquizzes {
    width: 100%;
}
.principal > nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.quizzes {
    justify-content: center;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}
.quizz{
    width: 100%;
    height: 230px;
    background-size: cover;
}
.container {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.alternativas{
    height: 51%;
    height: 100%;
}
.alternativas div {
    width: 47%;
    height: 100%;
}
.alternativas div img {
    width: 100%;
    height: 100%;
    min-width: 160px;
    min-height: 113px;
}
.titulo-pergunta {
    height: 100px;
}
.resultado {
    width: 100%;
}
.titulo-resultado{
    padding: 10px;
}

.resultado > div:nth-child(2){
    flex-direction: column;
    width: 100%;
}

.resultado > div:nth-child(2) > div:first-child {
    width: 100%;
}
.texto {
    width: 100%;
    padding: 10px;
}
.resultado img{
    min-width: 340px;
    min-height: 250px;
}

.form-quizz-stt, 
.form-quizz-stt > div:nth-child(2),
.form-quizz-btn, 
.form-quizz-pergs,
.principal .form-quizz-niveis  {
    width: 100%;
}
