@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');



* {
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* -------------- pagina inicial ------------- */
body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: columms;
}

a{
    text-decoration: none;
}

header {
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: 2;

}

header>h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    padding: 10px 0;
    color: #FFFFFF;

}

.principal {
    display: flex;
    flex-direction: column;
    width: 1051px;
    margin: 0 auto;
}

.principal .myquizzes {
    width: 1051px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px dashed #B9B9B9;
    border-radius: 5px;
    margin-top: 90px;
}

.myquizzes p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #B9B9B9;
}

.myquizzes button {
    background-color: inherit;
    border: 2px dashed #EC362D;
    padding: 10px 35px;
    border-radius: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    color: #EC362D;
}

.myquizzes button:hover {
    cursor: pointer;
}

.principal .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.principal>nav:nth-child(2) {
    margin-top: 80px;
    width: 1051px;
}

.quizzes {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.quizz {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    margin: 10px 5px;
    width: 340px;
    height: 181px;
    background-size: 340px 181px;
    border-radius: 5px;


}

.quizz:hover {
    cursor: pointer;
}

.quizz img {
    border-radius: 5px;
    width: 340px;
    height: 181px;
}

.titulo h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    padding: 30px 10px;
    bottom: 0;
    width: 340px;

    /* background: rgb(13,14,14); */
    position: absolute;
    bottom: 0;
}


/* -------------- Página do quizz -------------------- */
body{
    background-color: #FAFAFA;
}
.capa {
    margin-top: 65px;
    width: 100%;
    height: 227px;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;

}

.capa img {
    width: 100%;
    height: 227px;
    object-fit: cover;
    
}


.capa h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    color: #FFFFFF;
    position: absolute;

}

.capa div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}

.container {
    width: 760px;
    height: auto;
    margin: 30px auto;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow:5px 5px 5px #B9B9B9;
    position: relative;
}

.titulo-pergunta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 138px;
    color: #FFFFFF;
    margin-bottom: 30px;

}
.alternativas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.alternativas:hover{
    cursor: pointer;
}

.alternativas div {
    display: flex;
    flex-wrap: wrap;
    width: 329px;
    overflow: hidden;
}
.alternativas div img {
    width: 329px;
    height: 175px;
}
.alternativas h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
/* -------------- seleção das repostas --------------------*/

.branco {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.6);
}
/* ------------------ resultado do quizz ---------------*/

.resultado {
    width: 760px;
    height: auto;
    margin: 30px auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow:5px 5px 5px #B9B9B9;
}
.titulo-resultado {
    color: #FFFFFF;
    background: #EC362D;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    flex-wrap: wrap;
    overflow: hidden;
}
.resultado > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
}
.resultado > div:nth-child(2) > div:first-child{
    margin-right: 20px;
    width: 50%;
}

.resultado img {
    width: 100%;
    height: 100%;
}
.texto {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.final-links{
    width:max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reset-quiz {
    margin-bottom: 30px;
    background-color: #EC362D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    width: 260px;
    height: 52px;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
}
.final-links h2 {
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #818181;
}
.final-links h2:hover{
    cursor: pointer;
}
/* -------------- Form do quizz -------------------- */

.form-quizz-stt {
    width: 600px;
    height: 449px;

    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

.form-quizz-stt div:first-child {
    width: 100%;
    height: 307px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-quizz-stt h2 {
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.form-quizz-stt div .box-inputs {
    width: 100%;
    height: 256px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.principal input {
    width: 95%;
    height: 46px;
    margin: 0 auto;
    padding: 2%;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.form-quizz-stt div .box-inputs input::placeholder {
    font-style: italic;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}

button:hover{
    cursor: pointer;
}

.form-quizz-btn {
    width: max-content;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    border: 0;
    padding: 1% 6%;

    /*text*/
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}


/* -------------- Form das perguntas do quizz -------------------- */

.form-quizz-pergs{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    
}

.form-quizz-pergs h2 {
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin-bottom: 36px;
}

.form-quizz-pergs > div:first-child{
    margin-bottom: 80px;
}

.form-pergunta{
    width: 100%;
    margin-bottom: 30px;
}


.form-pergunta > div{
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.form-pergunta > div:first-child{
    width: 100%;
    height: 825px;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
}

.form-pergunta > div:first-child > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.form-pergunta h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 14px;
}

.form-pergunta > div:first-child > div > input{
    width: 100%;
    margin-bottom: 14px;
}

.form-pergunta > div:first-child > div > .incorreta{
    width: 100%;
    margin-bottom: 18px;
}

.form-pergunta > div:first-child > div > .incorreta > input{
    width: 100%;
    margin-bottom: 14px;
}


.form-pergunta > .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.form-quizz-pergs > div:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* -------------- Form dos niveis do quizz -------------------- */

.principal .form-quizz-niveis{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
}

.form-quizz-niveis h2 {
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin-bottom: 36px;
}

.form-quizz-niveis > div:first-child{
    margin-bottom: 80px;
}

.form-nivel{
    width: 100%;
    margin-bottom: 30px;
}

.form-nivel > div{
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.form-nivel > div:first-child{
    width: 100%;
    height: 316px;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
}

.form-nivel > div:first-child > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.form-nivel h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 14px;
}

.form-nivel > div:first-child > div > input{
    width: 100%;
    margin-bottom: 14px;
}

.form-nivel > .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.form-quizz-niveis > div:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------- classes de visibilidade dos componentes dos forms -------------------- */

#oculto{
    display: none;
}

/* -------------- página do sucesso do quizz -------------------- */

.container-sucess-quizz{

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-sucess-quizz h2{
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin-bottom: 36px;
}

.container-sucess-quizz .quizz{
    width: 500px;
    height: 266px;
    background-size: cover;
}

.container-sucess-quizz .quizz .titulo h2{
    text-align: center;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}


.container-sucess-quizz button{
    width: max-content;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    border: 0;
    padding: 1% 6%;
    margin-top: 45px;

    /*text*/
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}

.container-sucess-quizz a{
    margin-top: 30px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
}
